{% extends "layouts/base.njk" %} {% block title %}Главная страница{% endblock %}
{% block content %}
<section>
  <h2>Добро пожаловать!</h2>
  <p>Это главная страница сайта.</p>
</section>
{% endblock %}
