{% extends "layouts/base.njk" %}
{% block title %}Интернет-магазин строительных материалов СтройРемонт24 | Стройматериалы в Красноярске с доставкой{% endblock %}
{% block description %}'СтройРемонт24 интернет-магазин строительных и отделочных материалов.  ✔Онлайн заказ на сайте. ✔Доставка за 2 часа по Красноярску. ✔Недорогие стройматериалы'{% endblock %}
{% block content %}
    {% include "partials/sections/teaser.njk" %}
    {% include "partials/sections/products-swiper.njk" %}
{% endblock %}
