<footer class="site-footer" id="footer">
  <div class="site-footer__body">
    <div class="site-footer__content">
      <div class="site-footer__brand">
        {% include "partials/logo.njk" %}
        <p class="site-footer__tagline">Магазин строительных<br>отделочных материалов</p>
        <a class="site-footer__store" href="https://stroyrem24.ru/" target="_blank" rel="noopener">
          <img src="media/images/store-icon.png" alt="">
          <span>Интернет-магазин</span>
        </a>
      </div>

      <nav class="site-footer__nav" aria-label="Навигация в подвале">
        <a href="#products"><svg class="site-footer__pointer" aria-hidden="true"><use xlink:href="media/sprite/sprite.svg#hand-right"></use></svg><span>Цены</span></a>
        <a href="#about"><svg class="site-footer__pointer" aria-hidden="true"><use xlink:href="media/sprite/sprite.svg#hand-right"></use></svg><span>О нас</span></a>
        <a href="#delivery"><svg class="site-footer__pointer" aria-hidden="true"><use xlink:href="media/sprite/sprite.svg#hand-right"></use></svg><span>Доставка</span></a>
        <a href="#team"><svg class="site-footer__pointer" aria-hidden="true"><use xlink:href="media/sprite/sprite.svg#hand-right"></use></svg><span>Наша команда</span></a>
      </nav>

      <div class="site-footer__contacts">
        <div class="site-footer__contact-item">
          <svg aria-hidden="true"><use xlink:href="media/sprite/sprite.svg#location"></use></svg>
          <address>г. Красноярск,<br>Северное ш., 5А, корп. 3, пом. 4</address>
        </div>
        <div class="site-footer__contact-item">
          <svg aria-hidden="true"><use xlink:href="media/sprite/sprite.svg#clock"></use></svg>
          <p>Время работы:<br>Пн–Пт: 9:00–18:00<br>Суббота: 10:00–15:00<br>Воскресенье: выходной</p>
        </div>
        <a class="site-footer__phone" href="tel:+73912054317">
          <svg aria-hidden="true"><use xlink:href="media/sprite/sprite.svg#mobile"></use></svg>
          +7 (391) 205-43-17
        </a>
      </div>
    </div>
  </div>
</footer>
