<div class='phone'>
    <svg>
        <use xlink:href='media/sprite/sprite.svg#mobile'></use>
    </svg>
    <a class="phone__number" href='tel:+73912054317'>
        +7 (391) 205-43-17
    </a>
</div>
