<!DOCTYPE html>
<html class="page" lang="ru">
  <head>
    <meta charset="utf-8" />

    <title>{% block title %}Заголовок по умолчанию{% endblock %}</title>

    {#
    <meta name="description" content="{{ description }}" />
    #}

    <link rel="manifest" href="/manifest.json" />
    <link rel="stylesheet" href="/css/main.min.css" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link
      rel="icon"
      href="/media/images/favicons/icon-16х16.png"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="icon"
      href="/media/images/favicons/icon-32х32.png"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="apple-touch-icon"
      href="/media/images/favicons/apple-touch-icon.png"
    />

    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#171613" />
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#171613" />
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#171613" />
  </head>

  <body class="page__body">
    {% include "partials/header.njk" %}

    <main>{% block content %}{% endblock %}</main>

    <script src="/js/scripts.min.js"></script>
  </body>
</html>
