@import './vars.pcss';
@import './fonts.pcss';
@import './libs.pcss';
@import './blocks/preloader.pcss';
@import './blocks/box-sizing.pcss';
@import './blocks/visually-hidden.pcss';
@import './blocks/page.pcss';
@import './blocks/button.pcss';
@import './blocks/phone.pcss';
@import './blocks/header.pcss';
@import './blocks/teaser.pcss';
@import './media.pcss';
