{% set aboutSwiperData = [{title: 'titel', img:'/media/images/about/photo-1'}, {title: 'tite2', img:'/media/images/about/photo-2'}] %}


<section id="section-about" class="section-about inverse section-overlay">
    <div class="about-content">
        <p class="h2 about-title">МАГАЗИН СТРОИТЕЛЬНЫХ МАТЕРИАЛОВ С <span>10-ЛЕТНИМ ОПЫТОМ</span>
            РАБОТЫ
        </p>

        <div class="swiper swiper-about">
            <div class="swiper-wrapper">
                {% for aboutSlideData in aboutSwiperData %}
                    <div class="swiper-slide{% if loop.index is even %} swiper-slide--alt{% endif %}">
                        <picture>
                            {# WebP для мобильных #}
                            <source srcset="{{ aboutSlideData.img }}.webp" type="image/webp" media="(max-width: 767px)" />
                            {# WebP для десктопа #}
                            <source srcset="{{ aboutSlideData.img ~ '-desktop.webp' }}" type="image/webp" media="(min-width: 768px)" />

                            {# JPG для мобильных #}
                            <source srcset="{{ aboutSlideData.img }}.jpg" type="image/jpeg" media="(max-width: 767px)" />
                            {# JPG для десктопа #}
                            <source srcset="{{ aboutSlideData.img ~ '-desktop.jpg' }}" type="image/jpeg" media="(min-width: 768px)" />

                            <img src="{{ aboutSlideData.img }}.jpg" alt="{{ aboutSlideData.title }}" loading="lazy" />
                        </picture>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-button swiper-button-next">
{#                <svg>#}
{#                    <use xlink:href='media/sprite/sprite.svg#angle-double-left'></use>#}
{#                </svg>#}
            </div>
            <div class="swiper-button swiper-button-prev">
{#                <svg>#}
{#                    <use xlink:href='media/sprite/sprite.svg#angle-double-left'></use>#}
{#                </svg>#}
            </div>

        </div>

    </div>
{#    <div class="text-seo text-center col-md-12">#}

{#        <h1>Стройматериалы Красноярск</h1>#}
{#        <p>В магазине «СтройРемонт24» Вы найдёте необходимые стройматериалы для строительства и#}
{#            ремонтирования от помещений промышленного или коммерческого типа до квартиры или дачи.</p>#}
{#        <p>Каждый день «СтройРемонт24» принимает заявки в онлайн режиме.</p>#}
{#        <p>Поступающие обращения обрабатывает опытный менеджер и разбирает строительные вопросы и#}
{#            пожелания.</p>#}
{#        <p>Также доступна связь прямому номеру телефона (205-43-17), или оставьте заявку на обратный#}
{#            звонок.</p>#}
{#        <p>В компании работают сотрудники с 10 летним опытом в строительной нише, которые готовы оказать#}
{#            профессиональную помощь в выборе и поиске необходимых для строительных материалов и#}
{#            инструментов.</p>#}
{#        <p>НИКАКИХ ОЧЕРЕДЕЙ – можете заранее связаться с менеджером и договориться о встрече в нужное#}
{#            время. Когда приедете в наш офис Вас будет ждать готовый к отгрузке товар, который помогут#}
{#            загрузить с помощью профессионального погрузчика.</p>#}
{#        <div class="text-collapser"><a href="#" class=""><i class="fa fa-angle-double-down"></i></a>#}
{#        </div>#}
{#        <div class="collapse-content"><p>СтройРемонт24 - магазин в котором представленно более 2000#}
{#                товаров. Мы всегда сможем быстро и качественно обработать вашу заявку любого объёма, поможем#}
{#                организовать доставку и соблюдем поставленные сроки. СтройРемонт24 - магазин в котором#}
{#                представленно более 2000 товаров. Мы всегда сможем быстро и качественно обработать вашу#}
{#                заявку любого объёма, поможем организовать доставку и соблюдем поставленные#}
{#                сроки.СтройРемонт24 - магазин в котором представленно более 2000 товаров. Мы всегда сможем#}
{#                быстро и качественно обработать вашу заявку любого объёма, поможем организовать доставку и#}
{#                соблюдем поставленные сроки.СтройРемонт24 - магазин в котором представленно более 2000#}
{#                товаров. Мы всегда сможем быстро и качественно обработать вашу заявку любого объёма, поможем#}
{#                организовать доставку и соблюдем поставленные сроки.СтройРемонт24 - магазин в котором#}
{#                представленно более 2000 товаров. Мы всегда сможем быстро и качественно обработать вашу#}
{#                заявку любого объёма, поможем организовать доставку и соблюдем поставленные#}
{#                сроки.СтройРемонт24 - магазин в котором представленно более 2000 товаров. Мы всегда сможем#}
{#                быстро и качественно обработать вашу заявку любого объёма, поможем организовать доставку и#}
{#                соблюдем поставленные сроки.СтройРемонт24 - магазин в котором представленно более 2000#}
{#                товаров. Мы всегда сможем быстро и качественно обработать вашу заявку любого объёма, поможем#}
{#                организовать доставку и соблюдем поставленные сроки.СтройРемонт24 - магазин в котором#}
{#                представленно более 2000 товаров. Мы всегда сможем быстро и качественно обработать вашу#}
{#                заявку любого объёма, поможем организовать доставку и соблюдем поставленные#}
{#                сроки.СтройРемонт24 - магазин в котором представленно более 2000 товаров. Мы всегда сможем#}
{#                быстро и качественно обработать вашу заявку любого объёма, поможем организовать доставку и#}
{#                соблюдем поставленные сроки. </p></div>#}

{#    </div>#}
</section>
