<section class="section-teaser section-teaser-overlay">
  <div class="section-teaser__content">
    <div class="utp">
      <div class="utp-composition">
        <p class="utp-composition__header">
          <span class="utp-composition__header-text">Магазин</span>
        </p>
        <div class="utp-composition__header-title">
          Строитлеьных отделочных
          <br />
          материалов
        </div>
        <span class="utp-composition__header-sub-title">
          <svg><use xlink:href='media/sprite/sprite.svg#truck'></use></svg>
          <span>Доставка по всему городу</span>
          <svg><use xlink:href='media/sprite/sprite.svg#truck'></use></svg>
        </span>
      </div>

      <p class="utp-composition__description">
        <span>СтройРемонт24</span>
        — это магазин стройматериалов для ремонта любой сложности. У
        нас представлены все самые востребованные и качественные
        материалы. Поможем Вам в любом строительном вопросе.
      </p>

      <button type="button" class="button popup-with-form" id="openModalBtn">
        <span>Обратиться к нам</span>
      </button>
    </div>

    <div class="teaser-social">
      <ul>
        <li>
          <a href="https://au.ru/user/cks24/shop/?utm_source=stroy24.com&utm_medium=referral&utm_campaign=header" aria-label="Перейти на сайт AU">
            <svg>
              <use xlink:href='media/sprite/sprite.svg#au-logo'></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="teaser-footer">
      <a href="#section_footer" class="teaser-footer__location">
        <svg>
          <use xlink:href='media/sprite/sprite.svg#location'></use>
        </svg>
        г.Красноярск, ул. Северное Шоссе, д.5а, стр.3
      </a>
      {% include "partials/phone.njk" %}

      <div class="teaser-footer__schedule">
        <svg><use xlink:href='media/sprite/sprite.svg#clock'></use></svg>
        Будни с 9:00 до 18:00 + суббота с 10:00 до 15:00
      </div>
  </div>

  <div class="modal" id="modal">
    <div class="modal-content" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
      <button class="modal-close" id="closeModalBtn" aria-label="Закрыть">&times;</button>
        {% set placement = "Главный экран" %}
        {% include "../form.njk" %}

    </div>
  </div>
</section>
